
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav>


<h1 class="title"><u>ANGULAR</u></h1>
<!-- <h1 class="welcome">
    Hi..!  <q> <span> Welcome to Angular-Routing Project</span> </q>
</h1> -->


<div class="bg">
  
<nav class="navbar navbar-inverse">

    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div> -->
      <ul class="nav navbar-nav" id="myid">
      
           
          <li><a routerLink="login" class="active">Login</a></li>
          <li><a routerLink="admin">Admin</a></li>
        <li><a routerLink="home" class="btn">Home</a></li>
        <li><a routerLink="hr" class="btn">HR</a></li>
        <li><a routerLink="profile" class="btn">Profile</a></li>
        <li><a routerLink="payroll" class="btn">Payroll</a></li>
        <li><a routerLink="learning" class="btn">Learning</a></li>
        <li><a routerLink="index" class="btn">index</a></li>
        <li><a routerLink="data" class="btn">Data</a></li>
        <li><a routerLink="add" class="btn">Add-Data</a></li> 
        <li><a routerLink="name">Name</a></li>
        <li><a routerLink="fgroup">Form-Group</a> </li>
      </ul>
    </div>
  </nav>


</div>
<img class="img" src="/assets/images/Background.jpg" alt="Nani" >

<router-outlet></router-outlet>
